@use "@/shared/styles/variables" as v;


.container {
    margin-top: 40px;
    padding: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.chartsContainer {
    padding-top: 8px;
    display: flex;
    gap: 0;
    border: solid 2px v.$light-grey;
    border-radius: 6px;
}

.upperContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}